@use "./base.scss";

// put your custom CSS here!
:root{
   --gird-width:30px;
   --gird-height:30px;
   --line-color: #e5e3e3;
   --dot-color:#ccc;
   --dot-size:2px;
   --point-gap-width:calc(var(--gird-width) * 4);
   --point-gap-height:calc(var(--gird-height) * 4);
   // 顶部滚动通知高度
   --top-scroll-height: 30px;
   //有通知栏
   --body-height-min: calc(100vh - var(--top-scroll-height));
   //无通知栏
   --body-height-max: 100vh;
   //加粗字体、代码块高亮色
   --custom-highlight: #bb72133d
}

//左侧目录滚动条
#explorer-ul{
   scrollbar-width: thin;
}

//搜索结果弹窗，左侧标题滚动条
#results-container {
   scrollbar-width: none;
}

//搜索结果弹窗，右侧内容预览滚动条
#preview-container {
   scrollbar-width: none;
}

//引用块样式优化
blockquote.transclude {
   border-left: 3px dashed;
}

//顶部滚动通知
.marquee {
   background-color: #DA59597F;
   overflow: hidden;
   width: 100%;
   font-family: var(--bodyFont);
   white-space: nowrap;
   height: var(--top-scroll-height);

   display: flex;
   justify-content: center; /* 水平居中 */
   align-items: center; /* 垂直居中 */
}

.marquee p {
   color: white;
   font-weight: 700;
   animation: loopText 10s infinite linear;
   line-height: unset;
   text-align: center;

   position: absolute;
   left: 0; /* 初始位置左侧 */
}

@keyframes loopText {
   from {
      transform: translateX(-100%);
   }

   to {
      transform: translateX(100vw);
   }
}

//格子背景高度,有顶部滚动通知
body[data-topbar-has-content="1"] {

   height: var(--body-height-min);

   >.ba-grid {
      width: 100%;
      overflow-y: scroll;
      height: var(--body-height-min);
   }
}

//格子背景高度,没有顶部滚动通知
body[data-topbar-has-content="0"] {

   height: var(--body-height-max);

   >.ba-grid {
      width: 100%;
      overflow-y: scroll;
      height: var(--body-height-max);
   }
}

.ba-grid{
   z-index: 1;
}

.ba-grid:before,
.ba-grid:after,
.inner:before,
.inner:after{
   content:'';
   position: absolute;
   z-index: -1;
   top:0;
   bottom:0;
   left:0;
   right:0;
}

.ba-grid:before{
   background-image:
           linear-gradient(var(--line-color), transparent 1px),
           linear-gradient(to right, var(--line-color), transparent 1px);
   background-size:
           100% var(--gird-height),
           var(--gird-width) 100%;
}

.ba-grid:after{
   background-image: radial-gradient(var(--dot-color) 1px, transparent 1px);
   background-size: var(--point-gap-width) var(--point-gap-height);
   background-position: calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);
}

.inner:before,
.inner:after{
   background-image: radial-gradient(var(--dot-color) var(--dot-size), transparent var(--dot-size));
   background-size: var(--point-gap-width) var(--point-gap-height);
   background-position: calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);
}

.anim:after{
   animation: 6.4s linear move infinite;
}

@keyframes move{
   0%{
      background-position:calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);
   }
   100%{
      background-position:calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2 * -1);
   }
}

//文章header部分上移
.page .page-header {
   margin: 4rem auto 0;
}

//搜索区域文字不换行，显示省略号
ul.content>li {
   white-space: nowrap; /* 不换行 */
   overflow: hidden; /* 溢出部分隐藏 */
   text-overflow: ellipsis; /* 溢出显示为省略号 */
}

//表格样式
.table-container {
   & table {
      width: min(45vw, 90%);
      border-collapse: collapse;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0,0,0,0.1);
      margin-left: 0;
      border-bottom: solid var(--lightgray);
   }

   & th, td {
      padding: 15px;
   }

   & tr:last-child {
      border-bottom: 5px solid var(--secondary);
   }

   & thead {
      th {
         background-color: var(--lightgray);
         color: var(--secondary);
      }
   }

   & tbody {
      tr {
         &:hover {
            background-color: var(--highlight);
         }
      }
      td {
         position: relative;
         &:hover::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: -9999px;
            bottom: -9999px;
            background-color: var(--highlight);
            z-index: -1;
         }
      }
   }
}

//加粗字体样式
strong {
   font-weight: 600;
   background-color: var(--custom-highlight);
   border-bottom: 3px solid var(--secondary);
   border-radius: 3px;
}

//footnotes透明背景
.footnotes {
   background-color: initial;
}

//代码块样式调整
pre>code [data-highlighted-chars] {
   background-color: var(--custom-highlight);
   border-radius: 5px;
}

pre>code>[data-line][data-highlighted-line] {
   background-color: var(--custom-highlight);
}

span.highlight {
   background-color: var(--custom-highlight);
}

