@use "./base.scss";

// put your custom CSS here!

//左侧目录滚动条
#explorer-ul{
   scrollbar-width: thin;
}

//搜索结果，左侧标题滚动条
#results-container {
   scrollbar-width: none;
}

//搜索结果，右侧内容预览滚动条
#preview-container {
   scrollbar-width: none;
}

//引用块样式优化
blockquote.transclude {
   border-left: 3px dashed;
}

//页面顶部阅读进度条
body {
   position: relative;
}

.page-bar {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   z-index: 1;
   pointer-events: none;
   mix-blend-mode: darken;

   background-image: linear-gradient(to right top, #ffcc00 50%, #eee 50%);
   background-size: 100% calc(100% - 100vh + 3px);
   background-repeat: no-repeat;
}

.page-bar::after {
   content: '';
   position: fixed;
   top: 3px;
   bottom: 0;
   right: 0;
   left: 0;
   background: #fff;
   z-index: -1;
}
