/* Font */
html {
  font-family: 'Crjk', sans-serif;
}

/* Theme */
:root {
  --background: 210 33% 99%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 200 29% 45%;
  --primary-foreground: 0 0% 92.5%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95%;
  --muted-foreground: 240 3.8% 28.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 72.22% 50.59%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 88%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;
  --callout-background: 0 0% 100%;
}
.dark {
  --background: 240 20.54% 5.2%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 195 95% 85%;
  --primary-foreground: 240 3.7% 15.9%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 5.9% 12%;
  --muted-foreground: 240 5% 74.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 19.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
  --callout-background: 240 10% 3.9%;
}
:root {
  --un-default-border-color: hsl(var(--border) / 1);
}
html.dark {
  color-scheme: dark;
}

/* Global */
a {
  transition: color 0.2s ease;
  &:hover {
    color: hsl(var(--primary) / var(--un-text-opacity, 1));
  }
}

/* 主题切换特效 */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 999;
}

/* Details/Summary Styles */
details {
  border-radius: 8px;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid hsl(var(--border));
  background-color: hsl(var(--muted) / var(--un-bg-opacity, 1)) !important;
  transition: background-color 0.2s ease, border-color 0.2s ease; 
}

details summary {
  font-weight: 700;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  list-style: none;
  color: hsl(var(--foreground));
  transition: color 0.2s ease;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::before {
  content: ''; /* No character content */
  display: inline-block;
  width: 1em; /* Adjust size as needed */
  height: 1em; /* Adjust size as needed */
  margin-right: 0.5rem;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='hsl(240 10% 3.9%)' d='m8.177.677 2.896 2.896a.25.25 0 0 1-.177.427H8.75v1.25a.75.75 0 0 1-1.5 0V4H5.104a.25.25 0 0 1-.177-.427L7.823.677a.25.25 0 0 1 .354 0ZM7.25 10.75a.75.75 0 0 1 1.5 0V12h2.146a.25.25 0 0 1 .177.427l-2.896 2.896a.25.25 0 0 1-.354 0l-2.896-2.896A.25.25 0 0 1 5.104 12H7.25v-1.25Zm-5-2a.75.75 0 0 0 0-1.5h-.5a.75.75 0 0 0 0 1.5h.5ZM6 8a.75.75 0 0 1-.75.75h-.5a.75.75 0 0 1 0-1.5h.5A.75.75 0 0 1 6 8Zm2.25.75a.75.75 0 0 0 0-1.5h-.5a.75.75 0 0 0 0 1.5h.5ZM12 8a.75.75 0 0 1-.75.75h-.5a.75.75 0 0 1 0-1.5h.5A.75.75 0 0 1 12 8Zm2.25.75a.75.75 0 0 0 0-1.5h-.5a.75.75 0 0 0 0 1.5h.5Z'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: background-image 0.2s ease;
}

html.dark details summary::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='hsl(0 0% 98%)' d='m8.177.677 2.896 2.896a.25.25 0 0 1-.177.427H8.75v1.25a.75.75 0 0 1-1.5 0V4H5.104a.25.25 0 0 1-.177-.427L7.823.677a.25.25 0 0 1 .354 0ZM7.25 10.75a.75.75 0 0 1 1.5 0V12h2.146a.25.25 0 0 1 .177.427l-2.896 2.896a.25.25 0 0 1-.354 0l-2.896-2.896A.25.25 0 0 1 5.104 12H7.25v-1.25Zm-5-2a.75.75 0 0 0 0-1.5h-.5a.75.75 0 0 0 0 1.5h.5ZM6 8a.75.75 0 0 1-.75.75h-.5a.75.75 0 0 1 0-1.5h.5A.75.75 0 0 1 6 8Zm2.25.75a.75.75 0 0 0 0-1.5h-.5a.75.75 0 0 0 0 1.5h.5ZM12 8a.75.75 0 0 1-.75.75h-.5a.75.75 0 0 1 0-1.5h.5A.75.75 0 0 1 12 8Zm2.25.75a.75.75 0 0 0 0-1.5h-.5a.75.75 0 0 0 0 1.5h.5Z'/></svg>");
}


details[open] summary::before {
  transform: none;
}

details .details-content {
  margin-top: 1rem;
  color: hsl(var(--muted-foreground));
}

details .details-content > :first-child {
  margin-top: 0;
}
details .details-content > :last-child {
  margin-bottom: 0;
}

/* inline code css*/
.prose :where(:not(pre) > code):not(:where(.not-prose, .not-prose *)) {
  border-radius: .25rem;
  padding: .15rem .3rem;
  font-size: 0.875em;
  font-family: 'Consolas', monospace;
  --un-bg-opacity: .13;
  background-color: rgb(136 136 136 / var(--un-bg-opacity)) !important;
  color: #2d3748;
  transition: background-color 0.2s, color 0.2s;

  &::before, &::after {
    content: '' !important;
  }
}

html.dark .prose :where(:not(pre) > code):not(:where(.not-prose, .not-prose *)) {
  background-color: rgba(220, 220, 220, 0.13) !important;
  color: #f8fafc;
}