@import 'app.css';

.expressive-code {
        padding: 0.5em 0;
        position: relative; /* Make .expressive-code the positioning context */

        span {
                cursor: var(--cursor-text), text !important;
        }

        /* 终端仿 mac 的 3 个红点*/
        .frame.is-terminal {
                /* .header {
                        background: linear-gradient(to top, transparent 1.5px, transparent 1.5px), linear-gradient(#f3f3f3, #f3f3f3) !important;
                } */

                .header::before {
                        opacity: unset !important;
                        background: linear-gradient(to right, #fc625d 33.33%, #fdbc40 33.33% 66.66%, #35cd4b 66.66%);
                }

                .header::after {
                        border: 0 !important;
                }
        }
}

.expressive-code .frame.has-title:not(.is-terminal) .title {
        /* copy from expressive border css*/
        border-bottom: var(--ec-brdWd) solid var(--ec-frm-edActTabBrdCol) !important;
}

/* 修复 details 样式冲突, 未知 css 来源 */
.prose :where(details):not(:where(.not-prose, .not-prose *)) {
        margin: 0 !important;
        padding: 0 !important;
        /* background: var(--un-prose-bg-soft);*/
}

